.button {
  width: 100%;
  &_wrapper {
    padding: 16px 16px;
  }
}
.center_icon {
  width: 128px;
  height: 128px;
}
.wrapper {
  margin: 120px 0;
}
.nav_icon {
  width: 30px;
  height: 30px;
  position: relative;
  top: 2px;
}
