:root {
  --welcome-card-bg: white;
  --welcome-text: white;
  --welcome-bg-start: #5b32bd;
  --welcome-bg-end: #8f4cd7;
  --welcome-nav-height: 64px;
  --welcome-nav-gap: 8px;
  --z-index-bottom-nav: 10;
  --transition-duration: 0.5s;
  --button-bg: #5c33be;
  --button-bg-danger: #be3333;
  --button-text: white;
  --button-font-size: 18px;
  --button-radius: 8px;
  --button-height: 48px;
  --float-button-text: white;
  --float-button-bg: var(--button-bg);
  --navbar-bg-start: var(--welcome-bg-start);
  --navbar-bg-end: var(--welcome-bg-end);
  --navbar-text: white;
  --z-index-overlay: 16;
  --overlay-mask-bg: rgba(0, 0, 0, 0.5);
  --overlay-bg: white;
  --top-safe-area-height: 25px;
  --tabs-indicator-bg: rgba(255, 255, 255, 0.5);
  --button-border-color: #ddd;
  --amount-text: #53a867;
  --date-text: #999;
  --num-button-bg: white;
  --num-button-bg-important: #5c33be;
  --num-button-text-important: white;

  --input-min-height: 48px;
  --input-border-color: #5c33be;
  --input-radius: var(--button-radius);
  --input-shadow: rgba(0, 0, 0, 0.25);
  --error-color: #e10505;
  --emoji-nav-text: #999;
  --emoji-nav-text-selected: #333;

  --tag-bg: #efefef;
  --main: #5c33be;

  --total-bg: #252a43;
  --total-text: white;
  --total-income: #fe7275;
  --total-expenses: #53a867;
  --list-tag-text: #333;
  --list-amount-text: var(--amount-text);
  --list-time-text: var(--date-text);

  --bg: white;
  --dialog-header-text: white;

  --overlay-bg: white;
  --overlay-user-bg: #5c33be;
  --overlay-user-text: white;
  --text: #333333;
  --z-index-navbar: 32;
  --z-index-van-overlay: 64;
}
